*{
   margin: ;
   padding: ;
   box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
}
.src img{
      height: 300px;
      width: 500px;
      margin-left: 10px;
}
.src {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.on{
    width: 50%;
    margin: 50px;
}
.on  ul{
    display: flex;
    width:80% ;
    flex-wrap: wrap;
}
ul li{
    width: 45%;
    border: 1px solid;
    padding: 1rem;
    margin: 10px;
    background-color: #9e9b9b;
    list-style: none;

}
ul li samp{
    color: rgb(49, 29, 3);
    border: 1px solid;
    background-color: white;
}
.rak{
    border-bottom: 6px solid;
    margin-left: 100px;
    margin-right: 100px;
}
samp{
    border-radius: 5px;
    border: 1px solid;
    font-size: 20px;
    background-color: rgb(112, 109, 109);
}

.mukesh{
    border: 1px solid;
    margin-top: 100px;
    background-color: white;
}
body{
    background-color: rgb(55, 53, 53);
    margin-left: 100px;
    margin-right: 100px;
}
@media all and (max-width: 12px)
